* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.innerBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 120px;
  color: #48ff00;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.pps {
  text-align: center;
}

.tutorial {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.tutorial h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tutorial p {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn {
  background-color: #48ff00;
  color: #121212;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #33ee77;
}
